<div class="container-fluid">
    <app-pagetitle title="Detalle de Speaker" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row" *ngIf="usuario">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-7">
                <div class="mt-4 mt-xl-3">
                  <h6 class="text-primary">{{ldfid}}</h6>
                  <h5 class="mt-1 mb-3" style="text-transform: capitalize;">{{usuario.name}} {{usuario.lastName}} </h5>
                  <p>Idiomas: <i class="mdi mdi-translate mr-1 align-middle"></i> <span *ngFor="let idioma of usuario.idioma"> {{idioma | uppercase}} </span></p>
                  <div class="d-inline-flex mb-2">
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 5">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 4 && AVGtotal < 5">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 3 && AVGtotal < 4">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 2 && AVGtotal < 3">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 1 && AVGtotal < 2">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 0 && AVGtotal < 1">
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted">( {{AVGtotal | number : '1.2-2'}} )</div>
                  </div>
                  <!-- <p class="mt-3">{{usuario.bio}} </p> -->
                  

                  <div class="row">
                    <div class="col-md-7">
                      <div>
                        <a data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
                          href="javascript:void(0)">
                          <h5 class="font-size-14 text-primary">Perfil</h5>
                        </a>
                        <div class="collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
                          <ul class="list-unstyled product-desc-list">
                              <li>
                                <p>Género <i class="mdi mdi-gender-male-female"></i>: {{usuario.gender | titlecase}}</p>
                              </li>
                              <li>
                                <p>Fecha de nacimiento <i class="mdi mdi-cake"></i>: {{usuario.birthDate}}</p>
                              </li>
                              <li>
                                <p>Correo electrónico <i class="mdi mdi-email"></i>: {{usuario.email}}</p>
                              </li>
                              <li>
                                <p>Número telefónico <i class="mdi mdi-phone"></i>: {{usuario.phone}}</p>
                              </li>
                              <li>
                                <p>Idiomas: <i class="mdi mdi-translate mr-1 align-middle"></i> <span *ngFor="let idioma of usuario.idioma"> {{idioma | uppercase}} </span></p>
                              </li>
                              <li>
                                <p>Pais: <i class="mdi mdi-map-marker mr-1 align-middle"></i> {{usuario.country | uppercase}}</p>
                              </li> 
                          </ul>

                        </div>

                      </div>
                    </div>

                    <div>
                      <!-- <h5 class="font-size-14">Services :</h5>
                      <ul class="list-unstyled product-desc-list">
                        <li><i class="mdi mdi-sync text-primary mr-1 align-middle font-size-16"></i> 10 Days Replacement
                        </li>
                        <li><i class="mdi mdi-currency-usd-circle text-primary mr-1 align-middle font-size-16"></i> Cash
                          on Delivery available</li>
                      </ul> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <hr class="my-4">
            <!-- end row -->
            <div class="mt-4">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="font-size-14 mb-3">Llamadas por mes</h5>   
                  <div>
                    <table class="table table-nowrap mb-0">
                      <thead>
                        <tr>
                          <th>Mes</th>
                          <th>Llamadas del mes</th>
                          <th>Total de minutos</th>
                          <th>Minutos reales</th>
                          <th>Pagos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Enero</td>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                        </tr>
                      </tbody>
                    </table>
                  </div> 
                </div>
              </div>
              <hr class="my-4">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="font-size-14 mb-3">Referidos: </h5>
                  <div class="" >
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>LFId</th>
                          <th>Nombre</th>
                          <th>Género</th>
                          <th>Estatus</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let referido of referidos">
                          <td>{{referido.lfid}}</td>
                          <td>{{referido.fullName}}</td>
                          <td>{{referido.gender}}</td>
                          <td *ngIf="referido.status=='active'" style="background: #1cbb8c; color: white;">Activo</td>
                          <td *ngIf="referido.status=='suspended'" style="background: #fcb92c; color: white;">Suspendido</td>
                          <td *ngIf="referido.status=='canceled'" style="background: #ff3d60; color: white;">Cancelado</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="font-size-14 mb-3">Comisiones: </h5>
                  <div>
                    <table class="table table-nowrap mb-0">
                      <thead>
                        <tr>
                          <th>Monto</th>
                          <th>Comprobante</th>
                          <th>Fecha pagada</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pagos of payments">
                          <td>{{pagos.amount/100 | currency:'MX'}}</td>
                          <td><a href="{{pagos.pdfInvoice}}" class="btn btn-sm btn-success mt-1">Ver comprobante</a></td>
                          <td>{{pagos.dateCreated}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <div class="mt-4" *ngIf="llamadas">
              <h5 class="font-size-14">Llamadas : </h5>              
              
              <div class="d-inline-flex mb-3 mt-3">
                <div class="text-muted">( {{llamadas.length}} LLamadas realizadas)</div>
                <div class="text-muted">(  Minutos de llamadas)</div>
              </div>
              <div class="border p-4 rounded">   
                <div class="media border-bottom pb-3" *ngFor="let llamada of llamadas">
                  <div class="media-body">
                    <h5 class="font-size-15 mb-3" *ngIf="llamada.spe">{{ llamada.spe.name }} {{ llamada.spe.lastName }}</h5>
                    <ul class="list-inline product-review-link mb-0" style="display:flex;flex-direction:column;">
                      <li class="list-inline-item mb-2">
                        <div class="text-muted mr-3" [innerHTML]="llamada.stars">
                      </div>
                      </li> 
                      <li class="list-inline-item">
                        Fecha: {{llamada?.create | date: 'dd-MMM-YYYY'}}
                      </li>
                      <li class="list-inline-item">
                        <audio controls class="audio-container" style="height:32px;">
                          <source src="{{llamada.audio}}" type="audio/mpeg">
                        </audio>                        
                      </li>
                      <li class="list-inline-item">
                        Duraciòn: {{llamada.complemento?.duration/60 }} min
                      </li>
                    </ul>
                  </div>
                  <!--<p class="float-sm-right font-size-12">{{ llamada.date}} </p>-->
                </div>
              </div>
            </div>
            <hr class="my-4">
            <div class="mt-4">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="font-size-14">Incidencias : </h5>
                  <div>
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Asunto</th>
                          <th>Tipo</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let incidente of incidencias">
                          <td>{{incidente.date}}</td>
                          <td>{{incidente.subject}}</td>
                          <td>{{incidente.type}}</td>
                          <td *ngIf="incidente.status=='notAnswered'" style="background: #fcb92c; color: white;">Sin responder</td>
                          <td *ngIf="incidente.status=='answered'" style="background: #1cbb8c; color: white;">Suspendido</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- end row -->

  </div>
