<div class="container-fluid">
    <app-pagetitle title="Improvers" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
	<div class="row mb-2">
		<div class="col-3">
			<h5>Total: {{totalImprover}}</h5>
			<p><span *ngFor="let status of totalbyStatus">{{status.name}}: {{status.value}} </span></p>
		</div>
			<div class="col-3">            
				
				

				<div *ngIf="cargando" class="justify-content-center text-center mt-3">
					<h2>Cargando</h2>
					<!-- 1 -->
					<div class="loader loader--style1" title="0">
						<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40"
							enable-background="new 0 0 40 40" xml:space="preserve">
							<path opacity="0.2" fill="#000"
								d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
							s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
							c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
							<path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
							C22.32,8.481,24.301,9.057,26.013,10.047z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
									to="360 20 20" dur="0.5s" repeatCount="indefinite" />
							</path>
						</svg>
					</div>
					<p>Por favor espere...</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						
						<div>
							<hot-table
							[data]="userList"
							height="650"														
							[rowHeaders]="true"
							[dropdownMenu]="true"
							[hiddenColumns]="hiddenColumns"
							[contextMenu]="true"
							[multiColumnSorting]="true"
							[filters]="true"
							licenseKey="non-commercial-and-evaluation">
								<hot-column renderer="negativeValueRenderer" data="userStatus" [readOnly]="true" title="Status"></hot-column>								
								<hot-column data="userLfNumber" [readOnly]="true" title="LFId"></hot-column>
								<hot-column data="userName" [readOnly]="true" title="Name"></hot-column>
								<hot-column data="userLastName" [readOnly]="true" title="LastName"></hot-column>
								<hot-column data="userEmail" [readOnly]="true" title="Email"></hot-column>
								<hot-column data="userPhone" [readOnly]="true" title="Tel"></hot-column>
								<hot-column data="userGender" [readOnly]="true" title="Gender"></hot-column>
								<hot-column data="userCountry" [readOnly]="true" title="Contry"></hot-column>
								<hot-column data="userDayOfBirth" [readOnly]="true" title="Birth Day" type="date"></hot-column>
								<hot-column data="userBirthDate" type="numeric" [readOnly]="true" title="Age"></hot-column>
								<hot-column data="userBio" [readOnly]="true" title="Bio"></hot-column>
								<hot-column data="userCreatedAt" [readOnly]="true" title="User Created" type="date"></hot-column>
								<hot-column data="plans.price" [readOnly]="true" title="Plan"></hot-column>
								<hot-column data="plans.idioma" [readOnly]="true" title="Language"></hot-column>
								<hot-column data="plans.start" [readOnly]="true" title="Schedule"></hot-column>
								<hot-column data="plans.creada" [readOnly]="true" title="Date Subscription" type="date"></hot-column>
								<hot-column data="plans.totalCalls" [readOnly]="true" title="Calls"></hot-column>
								<hot-column data="plans.totalAVG" [readOnly]="true" title="AVG"></hot-column>
								<hot-column data="plans.status" [readOnly]="true" title="Plan Status"></hot-column>
								<hot-column renderer="html" data="userOption" [readOnly]="true" title="Options">
									
								</hot-column>
							</hot-table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
