<div class="container-fluid">
    <app-pagetitle title="Detalle de Improver" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row" *ngIf="usuario">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-5">
                <div class="product-detail">
                  <div class="row">

                    <div class="col-md-12 col-12">
                        <div class="">
                            <!--<img [src]="usuario.foto" alt="" class="img-fluid mx-auto d-block">-->
                            <div [ngStyle]="{'background-image': 'url(' + usuario.foto + ')', 'width': '19.7rem', 'height': '19.7rem', 'position': 'relative', 'top': '0', 'left': '0', 'background-position': 'top center', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'border-radius': '50%', 'border': '2px solid #ff9400'}"></div>
                          </div>
                    </div>
                  </div>
                </div>
                <!-- end product img -->
              </div>
              <div class="col-xl-7">
                <div class="mt-4 mt-xl-3">
                  <h6 class="text-primary">Nombre</h6>
                  <h5 class="mt-1 mb-2" style="text-transform: capitalize;">{{usuario.name}} {{usuario.lastName}} </h5>

                  <div class="d-inline-flex mb-2">
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 5">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 4 && AVGtotal < 5">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 3 && AVGtotal < 4">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 2 && AVGtotal < 3">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 1 && AVGtotal < 2">
                      <span class="mdi mdi-star text-warning"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted mr-3" *ngIf="AVGtotal >= 0 && AVGtotal < 1">
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                      <span class="mdi mdi-star"></span>
                    </div>
                    <div class="text-muted">( {{AVGtotal | number : '1.2-2'}} )</div>
                  </div>
                  <h6 class="text-primary">Intereses</h6>
                  <p class="mt-3">{{usuario.bio}} </p>
                  <hr class="my-4">

                  <div class="row">
                    <div class="col-md-7">
                      <div>
                        <h5 class="font-size-14 text-primary">Perfil</h5>
                        <ul class="list-unstyled product-desc-list">
                            <li>
                              <p>Género <i class="mdi mdi-gender-male-female"></i>: {{usuario.gender | titlecase}}</p>
                            </li>
                            <li>
                              <p>Fecha de nacimiento <i class="mdi mdi-cake"></i>: {{usuario.birthDate}}</p>
                            </li>
                            <li>
                              <p>Correo electrónico <i class="mdi mdi-email"></i>: {{usuario.email}}</p>
                            </li>
                            <li>
                              <p>Número telefónico <i class="mdi mdi-phone"></i>: {{usuario.phone}}</p>
                            </li>
                            <li>
                              <p>Pais: <i class="mdi mdi-map-marker mr-1 align-middle"></i> {{usuario.country | uppercase}}</p>
                            </li> 
                        </ul>

                      </div>
                    </div>

                    <div>
                      <!-- <h5 class="font-size-14">Services :</h5>
                      <ul class="list-unstyled product-desc-list">
                        <li><i class="mdi mdi-sync text-primary mr-1 align-middle font-size-16"></i> 10 Days Replacement
                        </li>
                        <li><i class="mdi mdi-currency-usd-circle text-primary mr-1 align-middle font-size-16"></i> Cash
                          on Delivery available</li>
                      </ul> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="mt-4">
              <h5 class="font-size-14 mb-3">Movimientos: </h5>
              <div class="product-desc">
                <ul ngbNav #productNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
                  <li [ngbNavItem]="1">
                    <a ngbNavLink>
                      <a class="nav-link" id="desc-tab" data-toggle="tab" href="#desc" role="tab">Referidos</a>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="" style="max-height: 300px;overflow: scroll;">
                        <table class="table mb-0">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>E-mail</th>
                              <th>Género</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let referido of referidos">
                              <td>{{referido.fullName}}</td>
                              <td>{{referido.email}}</td>
                              <td>{{referido.gender}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink>
                      <a class="nav-link" id="specifi-tab" data-toggle="tab" href="#specifi" role="tab">Pagos</a>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="" style="max-height: 300px;overflow: scroll;">
                        <table class="table table-nowrap mb-0">
                          <thead>
                            <tr>
                              <th>Monto</th>
                              <th>Comprobante</th>
                              <th>Fecha pagada</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let pagos of payments">
                              <td>{{pagos.amount/100 | currency:'MX'}}</td>
                              <td><a href="{{pagos.pdfInvoice}}" class="btn btn-sm btn-success mt-1">Ver comprobante</a></td>
                              <td>{{pagos.dateCreated}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3">
                    <a ngbNavLink>
                      <a class="nav-link" id="plans-tab" data-toggle="tab" href="#plana" role="tab">Planes</a>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="" style="max-height: 300px;overflow: scroll;">
                        <table class="table table-nowrap mb-0">
                          <thead>
                            <tr>
                              <th>Tipo</th>
                              <th>Idioma</th>
                              <th>Status</th>
                              <th>Fecha creada</th>
                              <!-- <th>Opciones</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let planes of plans">
                              <td *ngIf="planes.plan === 'price_1IiLcPFjLGC5FmHqDAZZskyw'">Fluecy 10/3</td>
                              <td *ngIf="planes.plan === 'price_1IiLr3FjLGC5FmHq8Z2z8pnq'">+ Fluecy</td>
                              <td>{{planes.idioma | uppercase}}</td>
                              <td *ngIf="planes.status=='active'" style="background: #1cbb8c; color: white;">Activo</td>
                              <td *ngIf="planes.status=='suspended'" style="background: #fcb92c; color: white;">Suspendido</td>
                              <td *ngIf="planes.status=='canceled'" style="background: #ff3d60; color: white;">Cancelado</td>
                              <td>{{planes.dateCreated}}</td>
                              <!-- <td><button *ngIf="planes.status=='canceled'" (click)="changeStatus('active', planes.planId)" type="button" class="btn btn-sm btn-success mt-1"><i
                                class="fas fa-check"></i> Activar</button>
                                <button *ngIf="planes.status=='active'" (click)="changeStatus('canceled', planes.planId)" type="button" class="btn btn-sm btn-danger mt-1"><i
                                class="fas fa-times-circle"></i> Cancelar</button>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="productNav" class="border border-top-0 p-4"></div>
              </div>
            </div>

            <div class="mt-4" *ngIf="llamadas">
              <h5 class="font-size-14">Llamadas : </h5>
              <div class="d-inline-flex mb-3">
                <div class="text-muted">( {{llamadas.length}} LLamadas relaizadas)</div>
              </div>
              <div class="border p-4 rounded">   
                <div class="media border-bottom pb-3" *ngFor="let llamada of llamadas">
                  <div class="media-body">
                    <h5 class="font-size-15 mb-3" *ngIf="llamada.spe">{{ llamada.spe.name }} {{ llamada.spe.lastName }}</h5>
                    <ul class="list-inline product-review-link mb-0" style="display:flex;flex-direction:column;">
                      <li class="list-inline-item mb-2">
                        <div class="text-muted mr-3" [innerHTML]="llamada.stars">
                        </div>
                      </li> 
                      <li class="list-inline-item">
                        <audio controls class="audio-container" style="height:32px;">
                          <source src="{{llamada.audio}}" type="audio/mpeg">
                        </audio>    
                      </li>
                    </ul>
                  </div>
                  <!--<p class="float-sm-right font-size-12">{{ llamada.date}} </p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- end row -->

  </div>
